*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.interface{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    min-width: 50%;
    margin-top: 20vh;
    margin-bottom: 10vh;
    background: #c6c6c7;
}

h1{
    text-align: center;
    margin-top: 5px;
}
h2{
    margin: 10px;
    padding-left: 30px;
}

form{
    padding: 20px;
}

input, textarea{
    outline: none;
}

table{
    border-spacing: 10px;
}
.esquerda{
    text-align: right;
    vertical-align: text-top;
}
table label{
    text-transform: capitalize;
}
table input[type="checkbox"]{
    margin-right: 5px;
}

.btn_enviar{
    padding: 5px 20px;
}
